In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
unique_names = purchase_data['SN'].nunique()
unique_names

576

In [4]:
unique_names_df = pd.DataFrame({"Total Players": [unique_names]})

unique_names_df

   Total Players
0            576

In [5]:
unique_items_count = purchase_data['Item ID'].nunique()
unique_items_count

179

In [6]:
purchase_count = purchase_data['Purchase ID'].count()
purchase_count

780

In [7]:
price_average = purchase_data['Price'].mean().round(2)
price_average

3.05

In [8]:
total_price = purchase_data['Price'].sum()
total_price

2379.77

In [9]:
unique_items_df = pd.DataFrame({"Number of Unique Items": [unique_items_count],
                                "Average Price": [price_average],
                                "Number of Purchases": [purchase_count],
                                "Total Revenue": [total_price]})

unique_items_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [10]:
gender_count = purchase_data.groupby("Gender").nunique()['SN']
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [11]:
gender_perc_pre = gender_count/unique_names * 100
gender_perc = gender_perc_pre.round(2)
gender_perc

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [12]:
gender_demo_df = pd.DataFrame({"Number of Unique Items": gender_count,
                                "Average Price": gender_perc})

gender_demo_df

                       Number of Unique Items  Average Price
Gender
Female                                     81          14.06
Male                                      484          84.03
Other / Non-Disclosed                      11           1.91

In [13]:
gender_purchase = purchase_data.groupby("Gender").count()['Purchase ID']
gender_purchase

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [14]:
gender_average_pre = purchase_data.groupby("Gender").mean()['Price']
gender_average = gender_average_pre.round(2)
gender_average

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [15]:
gender_total_pre = purchase_data.groupby("Gender").sum()['Price']
gender_total = gender_total_pre.round(2)
gender_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
Purchase_per_person_pre = gender_total/gender_count
Purchase_per_person = Purchase_per_person_pre.round(2)
Purchase_per_person

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [17]:
gender_purchase_df = pd.DataFrame({"Purchase Count": gender_count,
                                   "Average Purchase Price": gender_average,
                                   "Total Price": gender_total,
                                   "Avg Total Purchase per Person": Purchase_per_person})

gender_purchase_df

,Purchase Count,Average Purchase Price,Total Price,Avg Total Purchase per Person
Gender,,,,
Female,81,3.20,361.94,4.47
Male,484,3.02,1967.64,4.07
Other / Non-Disclosed,11,3.35,50.19,4.56

In [18]:
age_bin = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]
group_label_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]
age_bin
group_label_age

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '+40']

In [19]:
pd.cut(purchase_data["Age"], age_bin, labels=group_label_age)
#purchase_data.dtypes

0      20-24
1        +40
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '+40']

In [20]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bin, labels=group_label_age)
purchase_data["Age Ranges"]

0      20-24
1        +40
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age Ranges, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '+40']

In [21]:
age_count = purchase_data.groupby(["Age Ranges"]).nunique()["SN"].rename("Total Count")
age_count

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
+40       12
Name: Total Count, dtype: int64

In [22]:
age_perc_pre = age_count/unique_names *100
age_perc = age_perc_pre.round(2)
age_perc

Age Ranges
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
+40       2.08
Name: Total Count, dtype: float64

In [23]:
age_demo_df = pd.DataFrame({"Total Count": age_count,
                                "Percentage of Players": age_perc})

age_demo_df

            Total Count  Percentage of Players
Age Ranges
<10                  17                   2.95
10-14                22                   3.82
15-19               107                  18.58
20-24               258                  44.79
25-29                77                  13.37
30-34                52                   9.03
35-39                31                   5.38
+40                  12                   2.08

In [24]:
age_purchase_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
age_purchase_counts

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
+40       13
Name: Purchase Count, dtype: int64

In [25]:
age_average_pre = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_average = age_average_pre.round(2)
age_average

Age Ranges
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
+40      2.94
Name: Average Purchase Price, dtype: float64

In [26]:
age_purchase_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_purchase_total

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
+40        38.24
Name: Total Purchase Value, dtype: float64

In [27]:
Age_per_person_pre = age_purchase_total/age_count
Age_per_person = Age_per_person_pre.round(2)
Age_per_person

Age Ranges
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
+40      3.19
dtype: float64

In [28]:
age_purchase_df = pd.DataFrame({"Purchase Count": age_purchase_counts,
                                   "Average Purchase Price": age_average,
                                   "Total Purchase Price": age_purchase_total,
                                   "Avg Total Purchase per Person": Age_per_person})

age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
+40,13,2.94,38.24,3.19

In [29]:
Top_purchase_counts = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
Top_purchase_counts

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase Count, Length: 576, dtype: int64

In [30]:
Top_purchase_mean_pre = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
Top_purchase_mean = Top_purchase_mean_pre.round(2)
Top_purchase_mean

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       2.07
Yathedeu43       3.01
Yoishirrala98    4.58
Zhisrisu83       3.94
Zontibe81        2.68
Name: Average Purchase Price, Length: 576, dtype: float64

In [31]:
Top_purchase_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
#Top_purchase_mean = Top_purchase_mean_pre.round(2)
Top_purchase_total

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Total Purchase Value, Length: 576, dtype: float64

In [32]:
Top_purchase_df = pd.DataFrame({"Purchase Count": Top_purchase_counts,
                                   "Average Purchase Price": Top_purchase_mean,
                                   "Total Purchase Price": Top_purchase_total})

#Top_purchase_df 
Top_purchase_df.sort_values(by=['Total Purchase Price'], ascending = False).head()

             Purchase Count  Average Purchase Price  Total Purchase Price
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [33]:
Item_counts = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
Item_counts

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Purchase Count, Length: 179, dtype: int64

In [34]:
Item_price = purchase_data.groupby(["Item ID","Item Name"]).mean()["Price"]
Item_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [35]:
purchase_data[["Item ID","Item Name", "Price"]]

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [36]:
Item_counts_total = purchase_data.groupby(["Item ID","Item Name"]).sum()["Price"].rename("Total Purchase Value")
Item_counts_total

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Total Purchase Value, Length: 179, dtype: float64

In [37]:
Top_purchase_df = pd.DataFrame({"Purchase Count": Item_counts,
                                   "Item Price": Item_price,
                                   "Total Purchase Value": Item_counts_total})

#Top_purchase_df 
Top_purchase_df.sort_values(by=['Purchase Count'], ascending = False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [38]:
Top_value_df = pd.DataFrame({"Purchase Count": Item_counts,
                                   "Item Price": Item_price,
                                   "Total Purchase Value": Item_counts_total})

#Top_purchase_df 
Top_value_df.sort_values(by=['Total Purchase Value'], ascending = False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80