In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
unique_names = purchase_data['SN'].nunique()
unique_names

576

In [4]:
unique_names_df = pd.DataFrame({"Total Players": [unique_names]})

unique_names_df

   Total Players
0            576

In [5]:
unique_items_count = purchase_data['Item ID'].nunique()
unique_items_count

179

In [6]:
purchase_count = purchase_data['Purchase ID'].count()
purchase_count

780

In [7]:
price_average = purchase_data['Price'].mean().round(2)
price_average

3.05

In [8]:
total_price = purchase_data['Price'].sum()
total_price

2379.77

In [9]:
unique_items_df = pd.DataFrame({"Number of Unique Items": [unique_items_count],
                                "Average Price": [price_average],
                                "Number of Purchases": [purchase_count],
                                "Total Revenue": [total_price]})

unique_items_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [10]:
gender_count = purchase_data.groupby("Gender").nunique()['SN']
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [11]:
gender_perc_pre = gender_count/unique_names * 100
gender_perc = gender_perc_pre.round(2)
gender_perc

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [12]:
gender_demo_df = pd.DataFrame({"Number of Unique Items": gender_count,
                                "Average Price": gender_perc})

gender_demo_df

                       Number of Unique Items  Average Price
Gender
Female                                     81          14.06
Male                                      484          84.03
Other / Non-Disclosed                      11           1.91

In [13]:
gender_purchase = purchase_data.groupby("Gender").count()['Purchase ID']
gender_purchase

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [14]:
gender_average_pre = purchase_data.groupby("Gender").mean()['Price']
gender_average = gender_average_pre.round(2)
gender_average

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [15]:
gender_total_pre = purchase_data.groupby("Gender").sum()['Price']
gender_total = gender_total_pre.round(2)
gender_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
Purchase_per_person_pre = gender_total/gender_count
Purchase_per_person = Purchase_per_person_pre.round(2)
Purchase_per_person

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [17]:
gender_purchase_df = pd.DataFrame({"Purchase Count": gender_count,
                                   "Average Purchase Price": gender_average,
                                   "Total Price": gender_total,
                                   "Avg Total Purchase per Person": Purchase_per_person})

gender_purchase_df

,Purchase Count,Average Purchase Price,Total Price,Avg Total Purchase per Person
Gender,,,,
Female,81,3.20,361.94,4.47
Male,484,3.02,1967.64,4.07
Other / Non-Disclosed,11,3.35,50.19,4.56

In [18]:
age_bin = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]
group_label_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]
age_bin
group_label_age

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '+40']

In [19]:
pd.cut(purchase_data["Age"], age_bin, labels=group_label_age)
#purchase_data.dtypes

0      20-24
1        +40
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '+40']

In [20]:
purchase_data["Age_count"] = pd.cut(purchase_data["Age"], age_bin, labels=group_label_age)
purchase_data["Age_count"]

0      20-24
1        +40
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age_count, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '+40']

In [21]:
age_df = purchase_data.groupby["Age"]
print(age_df["Age"].count())

TypeError: 'method' object is not subscriptable